# Python cache / bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# Streamlit local state
.streamlit/secrets.toml

# Editor folders
.vscode/
.idea/
